/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
} */

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
}

.box-major {
    background-color: black;
    opacity: 0.8;
    border-radius: 25px;
    padding: 21px;
    width: 75%;
    height: 95%;
    max-width: 450px;
    max-height: 330px;
}

.input-city {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: white;
    width: calc(100% - 75px);
}

.btn-search {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;
}

.btn-search:hover {
    background-color: rgb(201, 201, 201);
}

.img-search {
    width: 25px;
}

.weather-info {
    margin-top: 30px;
}

.img-loading {
    display: flex;
    align-items: center;
    width: 32.7px;
}
.img-weather {
    display: flex;
    align-items: center;
    width: 70px;
}

.weather-city {
    color: white;
    font-size: 27;
    font-weight: 300;
}

.temperature{
    font-size: 20px;
    color: white;
    margin-top: 20px;
}

.weather {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.type-sky{
    color: white;
    margin-left: 20px;
    text-transform: capitalize;
}

.humidity {
    color: white;
    margin-top: 20px;
}